{% extends 'admin/master.html' %}

{% block body %}

{{ super() }}

<div class="row-fluid">

    <div>

		<h3>create a new configuration</h3>

        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}

            {% for f in form if f.type != 'CSRFTokenField' %}
				<div>
					{{ f.label }}
					{{ f }}

					{% if f.errors %}
						<ul>
							{% for e in f.errors %}
								<li><font color="red">{{ e }}</font></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
            {% endfor %}

            <button class="btn" type="submit">submit</button>
			<button class="btn btn-danger" onclick="window.location.href = '../'">
				back
			</button>

        </form>

        {{ link | safe }}

    </div>

</div>

{% endblock body %}
